.card {
  & {
    scroll-margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }

  &__content {
    padding: 1.5rem;
  }

  &__pledge {
    margin: 0;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 0.6rem;
    @include mq(medium) {
      flex-direction: row;
      gap: 1rem;
      margin-left: 0.9rem;
    }
  }

  &__header input {
    display: none;
  }

  &__header label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    cursor: pointer;
    padding-bottom: 1rem;
  }

  &__header label h3 {
    margin: 0;
    transition: color 0.5s;
  }

  &__header label:hover h3 {
    color: hsl(176, 50%, 47%);
  }

  &__radioCircle {
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__radioCircle::after {
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: hsl(176, 50%, 47%);
    transform: scale(0);
    transition: transform 0.25s ease;
  }

  &:last-of-type {
    opacity: 0.5;
  }

  &__left span {
    font-size: 2rem;
    font-weight: $fw-700;
    color: $clr-neutral-1;
    margin-right: 0.5rem;
  }

  &__footer p {
    margin: 0;
  }

  &__amount {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    @include mq(medium) {
      margin: 2rem 0;
      justify-content: flex-end;
    }
  }

  &__amount input {
    flex-basis: 100px;
  }

  &__amount button {
    flex-basis: 115px;
  }

  // &__amount::before {
  //   content: "$";
  //   position: absolute;
  //   top: 20px;
  //   left: 1.25rem;
  //   font: 500 1rem/1 "Commissioner", sans-serif;
  //   color: hsl(0, 0%, 50%);
  // }

  &__footer.pledge {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
    transition-property: max-height, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    @include mq(medium) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &.active &__radioCircle::after {
    transform: scale(1);
  }

  &.active {
    border: 2px solid $clr-primary-1;
  }

  &__message-error {
    display: block;
    text-align: center;
    opacity: 0;
    color: red;
    transition: opacity 0.5s;
  }
}
