//Variables

//Colors
//Primary
$clr-primary-1: hsl(176, 50%, 47%);
$clr-primary-2: hsl(176, 72%, 28%);
//Neutral
$clr-neutral-1: hsl(0, 0%, 0%);
$clr-neutral-2: hsl(0, 0%, 48%);
$clr-white: hsla(0, 0%, 100%, 1);
// Font-size
$fs-body: 1rem;

// Font-Family
$sans-serif: sans-serif;

// Font-Weights
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

// Screen break-points
$large-phone: 767px;
$tablet: 768px;
$desktop: 1200px;
$desktop-large: 1400px;
